@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path{
  clip-path: polygon(0% 0%, 25% 0%, 100% 50%, 25% 100%, 0% 100%);
}

.fixed {
  position: fixed;
  top: -35px;
  left: -2rem;
  right: -2rem;
}

@media screen and (max-width: 1023px) {
  .fixed {
    left: -1rem;
    right: -1rem;
  }
  
}